.land-title {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.map-title {
    font-size: 35px;
    margin-left: 23%;
    margin-top: 4%;
}

.plot-container {
    margin-left: 65%;
    margin-top: 2%;
    font-size: 35px;
}

.plot-details {
    margin-left: 60%;
    margin-top: 15.5%;
    font-size: 20px;
}

.plotID {
    margin: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
}

.plot-coordinates {
    margin: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
}

.location-coordinates {
    margin: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
    border: none;
}

.plotID-title {
    font-size: 23px;
}

.land-details-input {
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 5px;
}

.buy-button {
    width: 60%;
    height: 40px;
    font-size: 25px;
}

.canvas-style {
    width: 500px;
    margin-left: 150px;
    margin-top: 50px;
}
